{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "printWidth": 100,
    "useTabs": false,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }