.header {
  list-style: none;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.img-header{
    width: 150px;
    height: 50px;
    position: relative;
    left: -200px;
    border-radius: 100px;
}
.navlink{
    text-decoration: none;
    font-size: 15px;
}

.navlink:hover{
    color: red;
    cursor: pointer;
}

.side-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    left: 1100px; 
    gap: 20px;
    font-size: 15px;
}

.side-login:hover{
    color: blue;
    cursor: pointer;
}

