.cover-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header {
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: space-around;
}

.img-header {
    /* display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    border-radius: 100px; */
    width: 130px;
}

.navlink {
    text-decoration: none;
    font-size: 15px;

}

.navlink:hover {
    color: red;
    cursor: pointer;
}

.login {
    text-decoration: none;
    padding-right: 10px;
}

.side-login {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.login:hover {
    color: blue;
    cursor: pointer;
}

#user {
    display: none;
}