.cover-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header {
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: space-around;

}

.img-header {
    width: 160px;
}

.navlink {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.navlink:hover {
    color: red;
    cursor: pointer;
}

.login {
    text-decoration: none;
    padding-right: 10px;
    text-transform: uppercase;
}

.side-login {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.login:hover {
    color: blue;
    cursor: pointer;
}

#user {
    display: none;
}